<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709429780676-1n8nlo50ch7vvc56j1pr4sma5o9fu69v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709429780676-1n8nlo50ch7vvc56j1pr4sma5o9fu69v</string>
	<key>API_KEY</key>
	<string>AIzaSyA4Jgc3sJMZLvV-fM7QurojCzTdBdzbWgo</string>
	<key>GCM_SENDER_ID</key>
	<string>709429780676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.push</string>
	<key>PROJECT_ID</key>
	<string>flutter-notification-dem-82ddf</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notification-dem-82ddf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709429780676:ios:91db19f5841f9563926991</string>
</dict>
</plist>